{% extends "base.html" %}

{% block title %}
Cart
{% endblock title %}


{% block content %}

<div class="hero-container">

    <div class="card bg-light p-5">

        {% for message in messages %} 
    
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    
        {% endfor %}


        {% if cart_items %}
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total Price</th>
                    <th>Remove 1</th>
                    <th>Remove all</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.product.product_name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.total_item_price }}</td>
                    <td><a href="{% url 'cart:remove_from_cart' item.id %}">Remove 1</a></td>
                    <td><a href="{% url 'cart:remove_all_from_cart' item.id %}">Remove all</a></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4"></td>
                    <td>Total:</td>
                    <td>{{ total_price }}</td>
                </tr>
            </tfoot>
        </table>

        <a href="/checkout" class="btn btn-primary">Checkout</a>
        {% else %}
        <p>Your shopping cart is empty.</p>
        {% endif %}

    </div>
  
    
</div>
{% endblock content %}